<% provide(:photos, "active") %> <!--highlight active link, active is bootstrap class -->
<% provide(:title, "Photos") %>

<div class="container">
	<div class="row">
    	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	    	<img class="img-responsive"><%= image_tag "img1.jpg" %>
    	</div>
    	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	    	<img class="img-responsive"><%= image_tag "img2.jpg" %>
    	</div>
    	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	    	<img class="img-responsive"><%= image_tag "img3.jpg" %>
    	</div>
    	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	    	<img class="img-responsive"><%= image_tag "img4.jpg" %>
    	</div>
    </div>
</div>
